@import "./global/global.css";
@import "./global/header.css";

/*Cores*/
@import "./utilidades/cores.css";

/*Tipografia*/
@import "./utilidades/tipografia.css";

/*Componentes*/
@import "./utilidades/componentes.css";

/*Home*/
@import "./home/introducao.css";

/*Bicicletas*/
@import "./bicicletas/bicicletas-lista.css";

