@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";


/*UTILIDADES*/
/*Cores*/
@import "./utilidades/cores.css";

/*Tipografia*/
@import "./utilidades/tipografia.css";

/*Componentes*/
@import "./utilidades/componentes.css";

/*HOME*/
/*Introdução*/
@import "./home/introducao.css";

/*Tecnologia*/
@import "./home/tecnologia.css";

/*Parceiros*/
@import "./home/parceiros.css";

/*Depoimento*/
@import "./home/depoimento.css";

/*Seguros*/
@import "./seguros/seguros.css";
@import "./seguros/perguntas.css";
@import "./seguros/vantagens.css";

/*Bicicletas*/
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";


/*Bicicleta*/
@import "./bicicleta/bicicleta.css";

/*Seguro*/
@import "./bicicleta/seguro.css";

/*Termos*/
@import "./termos/termos.css";
