.bicicletas-bg {
    background: var(--cor-11);
}

.bicicletas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-imagem {
    display: grid;
}

.bicicletas-imagem img { /*as fotos das bicicletas*/
    grid-area: 1/1;
}

.bicicletas-imagem span {
    grid-area: 1/1; /*definindo que o span de preço ficará na primeira linha e primeira coluna*/
    place-self: start end;
    margin-top: 20px;
    background: var(--cor-12);
    display: inline-block;
    padding: 8px 16px 8px 8px;
    position: absolute;
    border-radius: 4px 0 0 4px; /*aplicando na borda superior esquerda e inferior esquerda*/
}

.bicicletas-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
}

.bicicletas h2,
.bicicletas p {
    grid-column: 1/-1;
}

.bicicletas h2 {
    margin: 20px;
}

.bicicletas h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
} 

.bicicletas p {
    margin-bottom: 32px;
}

.bicicletas a {
    place-self: end; /*alinha verticalmente e horizontalmente no final da linha do grid*/
}

.bicicletas li {
    display: flex;
    align-items: center;
}

.bicicletas ul {
    display: grid;
    gap: 16px;
}

/* opção dois de dar espaço entre os itens da lista
.bicicletas li + li {
    margin-top: 16px;
}*/

.bicicletas-conteudo img {
    width: 24px;
    margin-right: 8px;
}