.tecnologia-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0); /*sombre em cima e embaixo*/
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-imagem img {
    width: 100%; /*respeita a altura do container*/
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tecnologia-conteudo {
    padding-top: 160px;
    padding-bottom: 160px;
}

.tecnologia-conteudo > span {
    display: block;
    margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
    /*h's já são display block por padrão*/
    margin-bottom: 32px;
}

.tecnologia-conteudo > p {
    /*h's já são display block por padrão*/
    margin-bottom: 20px;
}

.tecnologia a {
    margin-bottom: 80px;
}

.tecnologia-vantagens {
    display: flex;
    gap: 40px;
}

.tecnologia-vantagens h3 {
    margin-bottom: 8px;
    width: max-content;
}

/*definindo tamanho dos ícones*/
.tecnologia-vantagens img {
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .tecnologia-bg {
        box-shadow: initial; /*como o valor inicial é nada, ele vai tirar as sombras*/ 
    }
    .tecnologia {
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo {
        padding-left: 60px;
        padding-bottom: 60px;
    }
    .tecnologia-imagem {
        display: none;
    }
    .tecnologia a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .tecnologia-vantagens {
        flex-direction: column;
    }

}